* {
margin: 0;
padding: 0;
border: 0;
box-sizing:border-box;
}
html{
	min-height:100vh;
	scroll-behavior:smooth;
}
body{
	font-family: Arial, 'Lato', sans-serif;
	overflow-x:hidden;
	background-image:url(img/pattern3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin:0;
	width:100%;
}
.container{
	min-height:calc(100%-39px);
}
a:link 
{
    color: #fff;
	text-decoration: none;
}
a:visited 
{
    color: #fff;
}
a:hover 
{
    color: #fff;
}
a:active 
{    
	color: #fff;
}
nav{
	margin:2%;
	transition:transform 0.3s;
}
nav:hover{
	transform:scale(1.01);
}
nav a:hover{
	color:black;
	font-weight: bold;
}
header{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	font-size:22px;
	text-align: center;
	margin-top:20px;
	margin-bottom:10px;
	color:white;
	font-weight: bold;
	letter-spacing: 3px;
	overflow: hidden;
	min-height:12vh;
	display:flex;
	align-items:center;
	justify-content:center;
}
.photo{
	height:40vh;
	overflow:hidden;
}
.center{
	width:100%;
}
#image{
	display:block;
	width:70%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
	border:2px solid #38b5d8;
}
#text{
	margin-top:10px;
	margin-bottom:30px;
}
.answer::before{
	content:"\f14a";
	font-family:"Font Awesome 5 Free";
}
#text p{
	padding-top: 10px;
	margin:0 20%;
	text-align:left;
	letter-spacing: 1.5px;
	font-weight:bold;
	display:inline-block;
	font-family: arial;
	font-size: 4vw;
	word-spacing:-2px;
	cursor:pointer;
	list-style-type: disc;
	transition:transform 0.5s;
}
#text p:hover{
	transform:scale(1.05);
}
#count{
	font-size:17px;
	text-align: center;
}
.reset{
	cursor:pointer;
	color:#fff;
}
.reset:hover{
	color:#000;
	transform:scale(1.05);
}
footer{
	background-color:#28292b;
	color:white;
	text-align:center;
	line-height: 35px;
	opacity:0.9;
	height:35px;
	font-size:12px;
	width:100%;
	display:block;
	position:absolute;
	bottom:0;
}
@media (min-width:550px) {
	.container{
		width:100%;
		text-align: center;
		min-height:calc(100%-35px);
	}
	nav{
		text-align: left;
	}
header{
	margin-left:0;
	margin-right:0;
}
	#heading{
	width:80%;
}
	#heading p{
		text-align: center;
	}
	.center{
	width:80%;
}
	.photo{
	width:72%;
	display:inline-block;
	text-align: center;
	min-height:200px;
	overflow:hidden;
}
	#image{
	width:100%;
	height:100%;
	display:inline-block;
}
	#btn{
	display:block;
	font-size:25px;
	padding:5px;
	background-color: #38b5d8;
	width:120px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	border:2px solid black;
	cursor:pointer;
	border-radius: 30px;
	transition:width 0.4s;
}
#btn:hover{
	background-color:#2052a3;
	color:white;
	width:135px;
}
#text{
	margin-top:10px;
	margin-bottom:30px;
	text-align:left;
}
#text p{
	padding-top: 10px;
	margin-left:20%;
	text-align:left;
	letter-spacing: 1.5px;
	font-family: arial;
	font-size: 2.8vw;
	word-spacing:-2px;
}
footer{
		width:100%;
		font-size:16px;
		height:45px;
		padding:5px;
		position:absolute;
		bottom:0;
}

/*dla 760 px*/
@media (min-width:760px) {
.container{
	text-align:left;
}
header{
	margin-left:0;
	margin-right:0;
}
#heading{
	width:70%;
}
.center{
	width:70%;
}
.photo{
	width:100%;
	display:inline-block;
	text-align: center;
}
#image{
	width:70%;
	height:100%;
	display:inline-block;
}
#text p{
	padding-top: 10px;
	font-size:2.3vw;
}
@media (min-width:1000px) {
.container{
	text-align:left;
}
header{
	margin-left:0;
	margin-right:0;
}
#heading{
	width:60%;
}
.center{
	width:60%;
}
.photo{
	width:100%;
	display:inline-block;
	text-align: center;
}
#image{
	width:60%;
	height:100%;
	display:inline-block;
}
#btn{
	display:block;
	width:60%;
	font-size:25px;
	padding:5px;
	background-color: #38b5d8;
	width:120px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	border:2px solid black;
	cursor:pointer;
	border-radius: 30px;
	transition:width 0.4s;
}
#btn:hover{
	background-color:#2052a3;
	color:white;
	width:135px;
}
#text p{
	font-size: 20px;
}